TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_BOT_TOKEN=
TELEGRAM_TARGET_CHAT=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

MAX_FILE_SIZE_MB=700
UPLOAD_DESTINATION=telegram
TMP_DIR=/tmp
REQUEST_TIMEOUT_SECONDS=30
DOWNLOAD_RETRY_COUNT=4
ALLOW_PRIVATE_IPS=true